.opacity-5:hover{
    opacity: 0.5;
    cursor: pointer;
}
/* nav */
.nav1{
    background-color: #202023;
    height: 50px;
}
.icon-flickr_logo_dots{
    height: 50px;
    width: 110px;
}
.icon-flickr_logo_dots:hover{
    opacity: 0.5;
}
.nav1 .navbar-nav .nav-link{
    color: #fff;
}
.nav1 .navbar-nav .nav-link:hover{
    opacity: 0.5;
}
.nav1 .fa-search{
    position: absolute;
    font-size: 16px;
    color: #535354;
    margin-left: 10px;
}
.fa-cloud-upload{
    font-size: 30px;
}
.nav1 form input{
    padding-left: 30px;
    background-color: #d0d0d1;
    font-size: 14px;
    border-radius: 3px;
}
.nav1 .navbar-nav .nav-item-1:hover .dropdown-menu{
    display: block;
}
.nav1 .navbar-nav .nav-item-2:hover .dropdown-menu{
    display: block;
}
.nav1 .navbar-nav .nav-item .dropdown-menu::after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 20px 15px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -8px;
    left: 1px;
}
/* header */
header{
    height: 250px;
    background-image: url(../img/cover.jpeg);
    background-size: cover;
    color: #fff;
}
header .row{
    height: 120px;
}
header .img-user{
    width: 100px;
    margin: 0 15px 0 0;
}
header .name{
    font-size: 36px;
    margin-left: 20px;
}
header .user-info{
    margin-left: 20px;
}

/* aside */
aside{
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
aside .nav-item .nav-link{
    color: #000;
    height: 50px;
    padding: 12px 20px;
}
aside .nav-item .nav-link:hover{
    font-weight: 700;
}
aside .nav-item .active{
    border-bottom: 3px solid #0090DC;
    font-weight: 700;
}
.sticky-offset{
    top: 50px;
}

/* section */
section{
    min-height: 60vh;
}
.box{
    height: 200px;
    position: relative; 
}
.box::before{
    content: "";
    position: absolute;
    border: 0.5px solid #afb7bd;
    width: 98%;
    left: 0;
    right: 0;
    margin: auto;
    top: -2px;
}
.box::after{
    content: "";
    position: absolute;
    border: 0.5px solid #afb7bd;
    width: 95%;
    left: 0;
    right: 0;
    margin: auto;
    top: -4px;
}
.img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
}
.info{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(11%, rgba(0, 0, 0, 0.8)), color-stop(37%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 11%, rgba(255, 255, 255, 0) 37%);
    overflow: hidden;
}
.line{
    color: #fff;
}
section .fa{
    font-size: 25px;
}
/* footer */
footer{
    background-color: #202023;
}
footer nav{
    height: 50px;
    font-size: 14px;
}
footer .nav2{
    border-bottom: 1px solid rgb(128,128,128,0.5);
}
footer .nav2 .nav-link{
    color: #fff;
}
footer .nav2 .nav-link:hover{
    opacity: 0.5;
}
footer .nav3 .nav-link{
    color: gray;
}
footer .nav3 .nav-link:hover{
    color: #fff;
}
footer .fa{
    font-size: 23px;
}
/* album.html */
.img-cover{
    position: relative;
    width: calc(100% - 10px);
    height: 500px;
    background-image: url('https://i1.wp.com/mrlifeday.com/wp-content/uploads/2020/12/03-taylor-swift-press-cr-Beth-Garrabrant-2020-billboard-1548-1607617377-compressed.jpg');
    background-size: cover;
    margin: 5px;
    color: #fff;
}
.box-black{
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.box-black-1{
    opacity: 0.3;
}
.album-name{
    position: absolute;
    width: 80%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 100px;
    font-size: 72px;
    text-align: center;
}
.album-info{
    position: absolute;
    width: 80%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 210px;
    font-size: 14px;
    text-align: center;
    opacity: 0.8;
}
.album-num{
    position: absolute;
    width: 80%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 250px;
    font-size: 14px;
    text-align: center;
}
.album-icon{
    position: absolute;
    width: 80%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 290px;
    font-size: 16px;
    text-align: center;
}
.album-autor-img{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 340px;
    font-size: 16px;
    background-image: url('https://i1.wp.com/mrlifeday.com/wp-content/uploads/2020/12/03-taylor-swift-press-cr-Beth-Garrabrant-2020-billboard-1548-1607617377-compressed.jpg');
    background-size: cover;
}
.album-author-name{
    position: absolute;
    width: 80%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 410px;
    font-size: 14px;
    text-align: center;
}
.img-photo{
    position: relative;
    height: 500px;
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/taylor-swift-performs-onstage-during-opening-night-of-her-news-photo-1605596966.?crop=1xw:1xh;center,top&resize=480:*');
    background-size: cover;
    margin: 5px;
}
.photo-box{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 14px;
}
.photo-box:hover{
    opacity: 1;
}
.photo-title{
    position: absolute;
    width: 80%;
    margin-top: 440px;
    margin-left: 10px;
    font-size: 16px;
}
.photo-info{
    position: absolute;
    width: calc(100% - 20px);
    margin-top: 465px;
    margin-left: 10px;
}
.photo-author{
    margin-right: 10px;
}
.photo-info .fa{
    font-size: 14px;
    margin-left: 10px;
}